/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #f4f4f4;
    background-color: #000; /* Fond noir */
    margin: 0;
}

/* En-tête et navigation */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Section principale */
main {
    padding: 20px;
}

main .intro {
    text-align: center;
    margin: 20px 0;
}

main .intro h1 {
    font-size: 2.5rem;
}

main .intro p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Pied de page */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}